.navbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .navbar-content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
  }

  .name {
    margin: 0.5rem 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    span {
      color: var(--highlight-color);
    }
  }
  .right-buttons {
    margin: 0.5rem 1rem;
    display: flex;
    gap: 0.5rem;
  }

  .nav-links {
    max-height: 0;
    opacity: 0;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    li {
      margin: 0.5rem 1rem;
      a {
        color: var(--text-color);
        cursor: pointer;

        &.active {
          font-weight: bold;
          color: var(--highlight-color); // Optional highlight for active
        }

        &:hover {
          color: var(--highlight-color);
        }
      }
    }
    &.open {
      opacity: 1;
      max-height: none;
      display: flex;
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    .right-buttons {
      display: none;
    }
    .nav-links {
      transition: none;
      max-height: none;
      display: flex;
      opacity: 1;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex: 1;
    }
  }
}
